<!-- Toolbar -->    
<div class="toolbar" role="banner" >
  <img width="110" alt="Selo logo" src="assets/2798110.png"/>
  <div>
    <a href="https://pt.wikipedia.org/wiki/Filatelia" style="display: flex; align-items: baseline;">
      <img width="25" alt="Filatelia Logo" src="assets/Wikipedia_svg_logo.svg"/>
    </a>  
  </div>
  <span style="font-size: 35px; color: rgb(235, 235, 241); font-family:  monospace">&nbsp;F  i  l  a  t  e  l  i  a </span> 
  
  
</div>
<div class="content" role="main" >
  <!-- Footer -->
  <footer></footer>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>  
</div>
<router-outlet></router-outlet>
