<!-- Toolbar -->    
<div class="toolbar" role="banner">
  <img width="40" alt="Selo logo" src="assets/1294055.svg"/>
  <span style="font-size: 35px; color: rgb(235, 235, 241); font-family:  monospace">F i l a t e l i a</span> 
  <div>
    <a href="https://pt.wikipedia.org/wiki/Filatelia" style="display: flex; align-items: baseline;">
      <img width="40" alt="Filatelia Logo" src="assets/Wikipedia_svg_logo.svg"/>
    </a>  
  </div>
  
</div>
<div class="content" role="main" >
  <!-- Footer -->
  <footer></footer>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>  
</div>
<router-outlet></router-outlet>
