<div class="toolbar" role="banner" >
  <img width="115" 
        alt="Selo logo" 
        src="assets/filatelia_logo.png"/>
  <div>
    <a href="https://pt.wikipedia.org/wiki/Filatelia" 
      style="display: flex; align-items: baseline;">
      <img width="45" 
            alt="Filatelia Logo" 
            src="assets/wikipedia_logo.svg" 
            title="Wikipedia"/>
    </a>  
  </div>
  <span style="font-size: 35px; color: rgb(235, 235, 241); font-family:  monospace">
    &nbsp;Filatelia</span>  
</div>